body {
    margin: 0;
    overflow: hidden;
    background: black;
}
canvas {
    display: block;
}

#resetButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.85);
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 100;
    opacity: 0.2;
}

#resetButton:hover {
    background: white;
    opacity: 0.75;
}
  
#chilltogglecontainer {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 32px;
    background: rgba(173, 216, 230, 0.7);
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

#chilltoggletrack {
    width: 100%;
    height: 100%;
    position: relative;
}
  
#chilltogglecircle {
    width: 26px;
    height: 26px;
    background: rgba(135, 206, 250, 0.7);
    border-radius: 50%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: all 0.3s ease;
    padding-top: 1px;
}
  
#shuffle{
    position: absolute;
    top: 20px;
    left: 90px;
    background: rgba(255, 255, 255, 0.7);
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 8px 12px;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 100;
    transition: background 0.3s ease;
}
#shuffle:hover {
  background: white;
  opacity: 0.75;
}